<br><h4>À Propos</h4><br>

<p>Bienvenue, nous sommes un réseau social qui a pour but de réunir virtuellement et/ou physiquement tous les propriétaires de Suzuki Swift (Sport).</p>

<p>D'abord, permettre d'échanger entre nous et d'apprendre des choses sur notre véhicule, 
   de partager toutes les idées d'entretiens et de modifications possibles selon les besoins et les envies de chacun.</p>

<p>Ensuite, pour ceux qui le souhaitent, se rencontrer en vrai pour conduire ensemble sur routes ouvertes ou sur circuit !!! </p>

<p>Et bien sûr, nous tenons à faire en sorte que tout partages et réactions entre les utilisateurs se fassent dans le respect et la bienveillance, 
   que ce soit ici ou sur les lieux de rendez-vous.</p>
   
<p>Merci de votre compréhension! ^^</p>

<a href="/inscription"><button class="button_sub3">⮪ S'inscrire</button></a>