<header>
    <a href="/connexion"><strong>La Swifterie </strong></a><i class="welcome">Bienvenue au paradis des Swifters</i> |
    <a class="menu" href="/connexion">Accueil</a>
    <a class="menu" href="/fil_actu">Fil d'Actu</a>
    <a class="menu" href="/profil">Profil</a>
    <a class="menu" href="/about">À Propos</a>
</header>

